
//colors
$red: #e1332d;
$white: #fff;

//default button https://codepen.io/davidicus/pen/emgQKJ

.btn rect {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: ease;
}
.btn {
  background: rgba($white, 0);
  border-bottom: 1px solid;
  color: $white;
  line-height: 1.4;
  padding: 0.25em;
  text-decoration: none;

  &:hover {
    background: rgba($white, 1);
  }

  color: #fff;
  cursor: pointer;
  // display: block;
  font-size: 1em;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 80vw;
  min-width: 40vw;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;

  //   @media(min-width: 400px) {
  //     display: inline-block;
  //     margin-right: 2.5em;

  //     &:nth-of-type(even) {
  //       margin-right: 0;
  //     }
  //   }

  @media (min-width: 600px) {
    margin: 0 1em 2em;

    //     &:nth-of-type(even) {
    //       margin-right: 2.5em;
    //     }

    //     &:nth-of-type(5) {
    //       margin-right: 0;
    //     }
  }

  &:hover {
    text-decoration: none;
  }
}

/////////////////////////////////
//button one
///////////////////////////////
.btn-1 {
  border: none;
  padding: 0px;
  background: darken($red, 1.5%);
  font-weight: 100;

  svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition-delay: none;
  }
}

.btn-1:hover {
  background: rgba($red, 0);
  font-weight: 900;
  letter-spacing: 1px;

  rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  }
}
