@mixin sectionpadding() {
  padding: 30% 15vmin;
  @media (min-width: 1024px) {
    padding: 10% 15vmin;
  }
}

@mixin sectioncolors($bgcolor, $textcolor){
    background-color: $bgcolor;
    color: $textcolor;
}