
body, code {
  font-family: "Rubik", sans-serif;
  font-size: 5.5vw;
  color: #333;
  @media (min-width: $screen-sm-min) {
    font-size: 4.8vw;
  }

  @media (min-width: $screen-md-min) {
    font-size: 2.8vw;
  }

  @media (min-width: $screen-lg-min) {
    font-size: 2.4vw;
  }

  @media (min-width: $screen-xl-min) {
    font-size: 1.8vw;
  }

  p {
    line-height: 1.8em;
  }
}

time {
  font-size: 0.6em;
}

blockquote {
  border-left: 4px solid $red;
  padding-left: 30px;
  margin-left: 0px;
  font-style: italic;
}

.section {
  font-size: 1em;
  h1,
  h2,
  h3,
  ul {
    li {
      padding-bottom: 15px;
      p {
        text-transform: none;
        strong {
          &:after {
            content: ' - '
          }
        }
      }
    }
  }
  ul {
    padding: 0px;
  }
  
  h1 {
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    font-size: 1.2em;
    line-height: 1.8em;
    @media (min-width: $screen-wide-min) {
      font-size: 1em;
    }
  }
  h2 {
    font-size: 1em;
    line-height: 1.4em;
    @media (min-width: $screen-wide-min) {
      font-size: 0.9em;
    }
  }
  h3 {
    font-size: 0.8em;
    line-height: 2em;
    @media (min-width: $screen-wide-min) {
      font-size: 0.8em;
    }
  }

  code {
    line-height: 1.5;
    font-size: 0.8em;
    color: $lightgraytext;
  }
}

.textright {
  text-align: right;
}

.textcenter {
  text-align: center;
}

a {
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}