@import "variables";

.contact {
  form {
    div {
      padding-bottom: 30px;
      div {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

form {
  div > div:last-child {
    margin-left: auto;
    margin-right: auto;
  }

  textarea {
    height: 150px;
  }

  input {
    height: 30px;
  }

  input,
  textarea {
    font-family: "Rubik", sans-serif;
    transition: all 0.2s ease-out;
    border-width: 0px 0px 2px 0px;
    border-style: solid solid solid solid;
    border-color: $white;
    color: $white;
    padding: 0.6em 10px;
    font-size: 0.7em;
    letter-spacing: 1px;
    background: transparent;
    margin-bottom: 25px;

    &:invalid {
      box-shadow: none;
    }

    &:focus {
      font-size: 0.8em;
      border-bottom: 2px solid $white;
    }

    &::placeholder {
      color: $white;
      opacity: 1;
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $white;
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: $white;
    }
  }
}