@import "mixins";
@import "variables";
@import "button";
@import "typography";

body {
  background-color: white;
  margin: 0px;
}

.bg {
  &-lightgray {
    @include sectioncolors($lightgray, $lightgraytext);
  }
  &-darkgray {
    @include sectioncolors($darkgray, $darkgraytext);
  }
  &-red {
    @include sectioncolors($red, #ffffff);
  }
}

.angled {
  position: relative;
  z-index: 1;
  margin: 50px 0;
  @include sectionpadding();

  ul {
    list-style-type: none;
  }
  &::before,
  &::after {
    background: inherit;
    content: "";
    display: block;
    padding-top: 30vmin;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    transform-origin: 100% 0;
  }
  &::after {
    top: 0;
    transform: skewY(4deg);
  }
  &::before {
    bottom: 0;
    transform: skewY(-4deg);
  }
}

.regular {
  color: black;
  padding: 15vmin;
}

.hero {
  margin-top: 0px;
  text-transform: uppercase;
  font-size: 1.2em;
  h1 {
    line-height: 1.8em;
  }
}
.hero,
.footer {
  text-align: center;
  img {
    max-width: 50vmin;
  }
}
.certifications {
  img {
    max-width: 80%;
  }
  a {
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    border-radius: 28px;
    border: 2px solid;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      background-color: #fafafa;
      color: #7c7c7c;
    }
    &:active {
      position: relative;
    }
  }
}
.blog {
  &-hero {
    font-family: "Josefin Sans", sans-serif;
    top: -100px;
    padding: 20% 10vmin;
    @media (min-width: $screen-sm-min) {
      top: -120px;      
    }  
    @media (min-width: $screen-md-min) {
      padding: 15% 10vmin;
    }
    &::before,
    &::after {
      padding-top: 17vmin;
      @media (min-width: $screen-md-min) {
        padding-top: 25vmin;
      }
    }
  }
  &-description {
    padding: 10% 10vmin;
  }
  &-post {
    > div {
      margin-left: auto;
      margin-right: auto;
      max-width: 600px;
    }
    padding: 0% 10vmin;
  }
}
.fullstack {
  img {
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    width: 50vmin;
  }
}
.contact {
  form {
    div {
      padding-bottom: 30px;
      div {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
